<header id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/logo.png" alt="Võ Hiệp Truyền Kỳ">
	</a>
	<nav class="header-nav">
		<div class="header-nav__logo sp">
			<img src="<%= RELATIVE_PATH %>img/logo.png" alt="Võ Hiệp Truyền Kỳ">
		</div>
		<ul class="header-nav__menu pc">
			<li class="header-nav__menu-item"><a href="">Trang chủ</a></li>
			<li class="header-nav__menu-item"><a href="">Cộng đồng</a></li>
			<li class="header-nav__menu-item"><a href="">Sự kiện</a></li>
		</ul>
		<ul class="header-nav__menu sp">
			<li class="header-nav__menu-item">
				<a href="" class="c-btn__img">
					<img src="./img/menu-header-01.png" alt="trang chủ" class="img-01">
					<img src="./img/menu-header-01-hv.png" alt="trang chủ" class="img-02">
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="" class="c-btn__img">
					<img src="./img/menu-header-02.png" alt="cộng đồng" class="img-01">
					<img src="./img/menu-header-02-hv.png" alt="cộng đồng" class="img-02">
				</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="" class="c-btn__img">
					<img src="./img/menu-header-03.png" alt="sự kiện" class="img-01">
					<img src="./img/menu-header-03-hv.png" alt="sự kiện" class="img-02">
				</a>
			</li>
		</ul>
	</nav>
	<ul class="header-btn sp">
		<li>
			<a href=""><img src="<%= RELATIVE_PATH %>img/btn-nap.png" alt="img"></a>
		</li>
		<li>
			<a href=""><img src="<%= RELATIVE_PATH %>img/btn-dk.png" alt="img"></a>
		</li>
	</ul>
	<span class="js-mobile">
		<span></span>
	</span>

</header>