<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<div class="mv-video">
			<div class="pc">
				<video autoplay loop muted playsinline preload="auto">
					<source src="<%= RELATIVE_PATH %>img/mv-pc.webm" type="video/webm">
				</video>
			</div>
			<div class="sp">
				<video autoplay loop muted playsinline preload="auto">
					<source src="<%= RELATIVE_PATH %>img/mv-sp.webm" type="video/webm">
				</video>
			</div>
		</div>
		<ul class="mv-nav">
			<li class="mv-nav__item js-popup" data-target="modal-01">
				<img src="<%= RELATIVE_PATH %>img/nav-01.png" alt="">
				<img src="<%= RELATIVE_PATH %>img/nav-01-hv.png" alt="" class="hv">
			</li>
			<li class="mv-nav__item js-popup" data-target="modal-02">
				<img src="<%= RELATIVE_PATH %>img/nav-02.png" alt="">
				<img src="<%= RELATIVE_PATH %>img/nav-02-hv.png" alt="" class="hv">
			</li>
			<li class="mv-nav__item js-popup" data-target="modal-03">
				<img src="<%= RELATIVE_PATH %>img/nav-03.png" alt="">
				<img src="<%= RELATIVE_PATH %>img/nav-03-hv.png" alt="" class="hv">
			</li>
			<li class="mv-nav__item js-popup" data-target="modal-04">
				<img src="<%= RELATIVE_PATH %>img/nav-04.png" alt="">
				<img src="<%= RELATIVE_PATH %>img/nav-04-hv.png" alt="" class="hv">
			</li>
			<li class="mv-nav__item js-popup" data-target="modal-05">
				<img src="<%= RELATIVE_PATH %>img/nav-05.png" alt="">
				<img src="<%= RELATIVE_PATH %>img/nav-05-hv.png" alt="" class="hv">
			</li>
		</ul>
	</section>
	<section class="sec-locxuan">
		<div class="inner inner--1400">
			<div class="locxuan-heading">
				<h2 class="locxuan-heading__ttl">
					<img src="<%= RELATIVE_PATH %>img/ttl-locxuan.png" alt="">
				</h2>
				<p class="locxuan-heading__desc">(Điểm danh trong game để nhận quà) </p>
			</div>
			<div class="locxuan-content">
				<div class="locxuan-content__vansunhuy">
					<video autoplay loop muted playsinline>
						<source src="<%= RELATIVE_PATH %>img/vansunhuy.webm" type="video/webm">
					</video>
				</div>
				<img src="<%= RELATIVE_PATH %>img/khung-locxuan.png" alt="" class="pc">
				<div class="locxuan-content__left">
					<ul class="locxuan-content__day">
						<li class="locxuan-content__day-item is-active">
							<span class="locxuan-content__day-ttl">Ngày 1</span>
							<ul class="locxuan-content__day-list">
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
							</ul>
						</li>
						<li class="locxuan-content__day-item is-active">
							<span class="locxuan-content__day-ttl">Ngày 2</span>
							<ul class="locxuan-content__day-list">
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
							</ul>
						</li>
						<li class="locxuan-content__day-item">
							<span class="locxuan-content__day-ttl">Ngày 3</span>
							<ul class="locxuan-content__day-list">
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
							</ul>
						</li>
						<li class="locxuan-content__day-item">
							<span class="locxuan-content__day-ttl">Ngày 4</span>
							<ul class="locxuan-content__day-list">
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
							</ul>
						</li>
						<li class="locxuan-content__day-item">
							<span class="locxuan-content__day-ttl">Ngày 5</span>
							<ul class="locxuan-content__day-list">
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
							</ul>
						</li>
						<li class="locxuan-content__day-item">
							<span class="locxuan-content__day-ttl">Ngày 6</span>
							<ul class="locxuan-content__day-list">
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
								<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="locxuan-content__right">
					<div class="locxuan-content__right-bg sp">
						<img src="<%= RELATIVE_PATH %>img/bg-gift-sp.png" alt="">
					</div>
					<div class="locxuan-content__right-icon-gift">
						<img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt="">
					</div>
					<span class="locxuan-content__right-ttl">Quà đặc biệt</span>
					<ul class="locxuan-content__gift">
						<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
						<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
						<li><img src="<%= RELATIVE_PATH %>img/gift-heading.png" alt=""></li>
					</ul>
				</div>
			</div>

			<div class="locxuan-chuctet">
				<h3 class="locxuan-chuctet__ttl"><img src="<%= RELATIVE_PATH %>img/ttl-chuctet.png" alt=""></h3>
				<div class="locxuan-chuctet__content">
					<textarea name="" id="" placeholder="Nhập lời chúc của bạn tại đây"></textarea>
				</div>
				<button class="locxuan-chuctet__btn">
					<img src="<%= RELATIVE_PATH %>img/btn-chuctet.png" alt="">
					<img src="<%= RELATIVE_PATH %>img/btn-chuctet-hv.png" alt="" class="hv">
				</button>
			</div>
		</div>
	</section>
	<section class="sec-hailoc">
		<div class="hailoc-caymai">
			<div class="pc">
				<video autoplay loop muted playsinline>
					<source src="<%= RELATIVE_PATH %>img/caymai.webm" type="video/webm">
				</video>
			</div>
			<div class="sp">
				<video autoplay loop muted playsinline>
					<source src="<%= RELATIVE_PATH %>img/caymai_mb.webm" type="video/webm">
				</video>
			</div>
		</div>
		<div class="inner">
			<h2 class="hailoc-ttl">
				<img src="<%= RELATIVE_PATH %>img/ttl-hailoc.png" alt="">
			</h2>
			<div class="user-info">
				<div class="user-info__left">
					<p class="user-info__name">Xin chào,<span>ABCXYZZZ</span></p>
					<p class="user-info__number">Số lượt :<span>25</span></p>
				</div>
				<div class="user-info__right">
					<button class="user-info__logout">THOÁT</button>
				</div>
			</div>
			<ul class="user-btn">
				<li>
					<a href="#">
						<img src="<%= RELATIVE_PATH %>img/btn-the-le.png" alt="">
						<img src="<%= RELATIVE_PATH %>img/btn-the-le-hv.png" alt="" class="hv">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="<%= RELATIVE_PATH %>img/btn-nhan-luot.png" alt="">
						<img src="<%= RELATIVE_PATH %>img/btn-nhan-luot-hv.png" alt="" class="hv">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="<%= RELATIVE_PATH %>img/btn-tien-do.png" alt="">
						<img src="<%= RELATIVE_PATH %>img/btn-tien-do-hv.png" alt="" class="hv">
					</a>
				</li>
			</ul>
			<div class="hailoc-content">
				
				<img src="<%= RELATIVE_PATH %>img/img-cay-mai.png" alt="">
				<div class="hailoc-content__wp">
					<div class="hailoc-content__item on">
						<video autoplay loop muted playsinline>
							<source src="<%= RELATIVE_PATH %>img/thedo.webm" type="video/webm">
						</video>
						<img src="<%= RELATIVE_PATH %>img/1.png" alt="" class="open">
					</div>
					<div class="hailoc-content__item on">
						<video autoplay loop muted playsinline>
							<source src="<%= RELATIVE_PATH %>img/thedo.webm" type="video/webm">
						</video>
						<img src="<%= RELATIVE_PATH %>img/2.png" alt="" class="open">
					</div>
					<div class="hailoc-content__item on">
						<video autoplay loop muted playsinline>
							<source src="<%= RELATIVE_PATH %>img/thedo.webm" type="video/webm">
						</video>
						<img src="<%= RELATIVE_PATH %>img/img-lixi-mo02.png" alt="" class="open">
					</div>
					<div class="hailoc-content__item">
						<video autoplay loop muted playsinline>
							<source src="<%= RELATIVE_PATH %>img/thedo.webm" type="video/webm">
						</video>
						<img src="<%= RELATIVE_PATH %>img/img-lixi-mo02.png" alt="" class="open">
					</div>
					<div class="hailoc-content__item">
						<video autoplay loop muted playsinline>
							<source src="<%= RELATIVE_PATH %>img/thedo.webm" type="video/webm">
						</video>
						<img src="<%= RELATIVE_PATH %>img/img-lixi-mo02.png" alt="" class="open">
					</div>
					<div class="hailoc-content__item">
						<video autoplay loop muted playsinline>
							<source src="<%= RELATIVE_PATH %>img/thedo.webm" type="video/webm">
						</video>
						<img src="<%= RELATIVE_PATH %>img/img-lixi-mo02.png" alt="" class="open">
					</div>
				</div>
			</div>
			<p class="hailoc-note">click vào bao lì xì để hái</p>
		</div>
	</section>
</main>
<div class="popup" id="modal-01">
	<div class="popup-wrap">
		<div class="popup-wrap__ct">
			<div class="popup-wrap__content popup-wrap--stop">
				<span class="popup-wrap__close"></span>
				<div class="popup-wrap__ttl"><img src="<%= RELATIVE_PATH %>img/modal-ttl-01.png" alt=""></div>
				<div class="popup-wrap__content-main">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup" id="modal-02">
	<div class="popup-wrap">
		<div class="popup-wrap__ct">
			<div class="popup-wrap__content popup-wrap--stop">
				<span class="popup-wrap__close"></span>
				<div class="popup-wrap__ttl"><img src="<%= RELATIVE_PATH %>img/modal-ttl-02.png" alt=""></div>
				<div class="popup-wrap__content-main">
					<ul class="list-nhiemvu">
						<li>
							<div class="title">
								<span>Nạp bất kỳ</span><br>
								Nhận được 1 Xu tài lộc
							</div>
							<div class="qty"><span>1</span>/1</div>
						</li>
						<li>
							<div class="title">
								<span>Tích lũy nạp 1000 Xu</span><br>
								Nhận được 1 Xu tài lộc
							</div>
							<div class="qty"><span>0</span>/1000</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup" id="modal-03">
	<div class="popup-wrap">
		<div class="popup-wrap__ct">
			<div class="popup-wrap__content popup-wrap--stop">
				<span class="popup-wrap__close"></span>
				<div class="popup-wrap__ttl"><img src="<%= RELATIVE_PATH %>img/modal-ttl-03.png" alt=""></div>
				<div class="popup-wrap__content-main">
					<p class="txt-chucmung">Chúc mừng đại hiệp đã nhận được</p>
					<div class="img-gift">
						<img src="<%= RELATIVE_PATH %>img/item-gift.png" alt="Chiếu Dạ Ngọc Sư Tử x1">
					</div>
					<p class="txt-gift-name">Chiếu Dạ Ngọc Sư Tử x1</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="popup" id="modal-04">
	<div class="popup-wrap">
		<div class="popup-wrap__ct">
			<div class="popup-wrap__content popup-wrap--stop">
				<span class="popup-wrap__close"></span>
				<div class="popup-wrap__ttl"><img src="<%= RELATIVE_PATH %>img/modal-ttl-04.png" alt=""></div>
				<div class="popup-wrap__content-main">
					<form action="" class="login-form">
						<div class="form-group">
							<input type="text" id="username" name="username" placeholder="Số Điện Thoại/ Email">
						</div>
						<div class="form-group">
							<input type="password" id="password" name="password" placeholder="Password">
						</div>
						<button type="submit" class="btn-submit">Đăng nhập</button>
						<div class="form-other">
							<a href="#">Quên mật khẩu</a>
							<a href="#">Đăng ký</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="popup" id="modal-05">
	<div class="popup-wrap">
		<div class="popup-wrap__ct">
			<div class="popup-wrap__content popup-wrap--stop">
				<span class="popup-wrap__close"></span>
				<div class="popup-wrap__ttl"><img src="<%= RELATIVE_PATH %>img/modal-ttl-05.png" alt=""></div>
				<div class="popup-wrap__content-main">
					Thông tin được cập nhật trong một vài ngày tới, Đại Hiệp nhớ thường xuyên theo dõi tin tức ở  Hompage và Fanpage nhé!
				</div>
			</div>
		</div>
	</div>
</div>