<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<div class="mv-video">
			<video class="pc" src="<%= RELATIVE_PATH %>img/pc.mp4" loop autoplay muted webkit-playsinline playsinline ></video>
			<video class="sp" src="<%= RELATIVE_PATH %>img/mb.mp4" loop autoplay muted webkit-playsinline playsinline ></video>
		</div>
	</section>
	<section class="sec-content">
		<nav class="content-nav">
			<ul class="content-nav__menu">
				<li class="content-nav__menu-item">
					<a href="" class="c-btn__img">
						<img src="<%= RELATIVE_PATH %>img/nav-01.png" alt="trang chủ" class="img-01 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-01-sp.png" alt="trang chủ" class="img-01 sp">
						<img src="<%= RELATIVE_PATH %>img/nav-01-hv.png" alt="trang chủ" class="img-02 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-01-sp-hv.png" alt="trang chủ" class="img-02 sp">
					</a>
				</li>
				<li class="content-nav__menu-item">
					<a href="" class="c-btn__img">
						<img src="<%= RELATIVE_PATH %>img/nav-02.png" alt="trang chủ" class="img-01 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-02-sp.png" alt="trang chủ" class="img-01 sp">
						<img src="<%= RELATIVE_PATH %>img/nav-02-hv.png" alt="trang chủ" class="img-02 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-02-sp-hv.png" alt="trang chủ" class="img-02 sp">
					</a>
				</li>
				<li class="content-nav__menu-item">
					<a href="<%= RELATIVE_PATH %>product.html#content-show" class="c-btn__img active">
						<img src="<%= RELATIVE_PATH %>img/nav-03.png" alt="trang chủ" class="img-01 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-03-sp.png" alt="trang chủ" class="img-01 sp">
						<img src="<%= RELATIVE_PATH %>img/nav-03-hv.png" alt="trang chủ" class="img-02 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-03-sp-hv.png" alt="trang chủ" class="img-02 sp">
					</a>
				</li>
				<li class="content-nav__menu-item">
					<a href="" class="c-btn__img">
						<img src="<%= RELATIVE_PATH %>img/nav-04.png" alt="trang chủ" class="img-01 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-04-sp.png" alt="trang chủ" class="img-01 sp">
						<img src="<%= RELATIVE_PATH %>img/nav-04-hv.png" alt="trang chủ" class="img-02 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-04-sp-hv.png" alt="trang chủ" class="img-02 sp">
					</a>
				</li>
				<li class="content-nav__menu-item">
					<a href="<%= RELATIVE_PATH %>#content-show" class="c-btn__img ">
						<img src="<%= RELATIVE_PATH %>img/nav-05.png" alt="trang chủ" class="img-01 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-05-sp.png" alt="trang chủ" class="img-01 sp">
						<img src="<%= RELATIVE_PATH %>img/nav-05-hv.png" alt="trang chủ" class="img-02 pc">
						<img src="<%= RELATIVE_PATH %>img/nav-05-sp-hv.png" alt="trang chủ" class="img-02 sp">
					</a>
				</li>
			</ul>
		</nav>
		<div class="content-show" id="content-show">
			<div class="content-show__block">
				<div class="content-show__block-custom">
					<h2 class="content-show__block-ttl">
						<img src="<%= RELATIVE_PATH %>img/ttl-02.png" alt="phần thưởng">
						<span class="content-show__block-ttl-number">03</span>
					</h2>
					<div class="content-show__product">
						<div class="content-show__product-item">
							<h3 class="content-show__product-ttl"><span>Hạng 1</span></h3>
							<ul class="content-show__product-list">
								<li class="content-show__product-list-item">
									<img src="<%= RELATIVE_PATH %>img/gift-01.png" alt="img">
								</li>
								<li class="content-show__product-list-item">
									<img src="<%= RELATIVE_PATH %>img/gift-02.png" alt="img">
								</li>
								<li class="content-show__product-list-item">
									<img src="<%= RELATIVE_PATH %>img/gift-03.png" alt="img">
								</li>
								<li class="content-show__product-list-item">
									<img src="<%= RELATIVE_PATH %>img/gift-04.png" alt="img">
								</li>
								<li class="content-show__product-list-item">
									<img src="<%= RELATIVE_PATH %>img/gift-05.png" alt="img">
								</li>
							</ul>
							<p>
								x2 Bộ trang bị Chiến Khí Sát Thần +0<br>
								x2 Bộ trang bị Thiên Dực Tướng Quân +0 ( bao gồm vũ khí)<br>
								x2 cặp nhẫn Quỷ Thiên - Địa Sát)<br>
								x66 Thiên Môn Kim Lệnh<br>
								x66 Thiên Cang Lệnh<br>
							</p>
						</div>
						<div class="content-show__product-item">
							<h3 class="content-show__product-ttl"><span>Hạng 2</span></h3>
							<ul class="content-show__product-list">
								<li class="content-show__product-list-item">
									<img src="<%= RELATIVE_PATH %>img/gift-01.png" alt="img">
								</li>
								<li class="content-show__product-list-item">
									<img src="<%= RELATIVE_PATH %>img/gift-02.png" alt="img">
								</li>
								<li class="content-show__product-list-item">
									<img src="<%= RELATIVE_PATH %>img/gift-03.png" alt="img">
								</li>
								<li class="content-show__product-list-item">
									<img src="<%= RELATIVE_PATH %>img/gift-04.png" alt="img">
								</li>
								<li class="content-show__product-list-item">
									<img src="<%= RELATIVE_PATH %>img/gift-05.png" alt="img">
								</li>
							</ul>
							<p>
								x2 Bộ trang bị Chiến Khí Sát Thần +0<br>
								x2 Bộ trang bị Thiên Dực Tướng Quân +0 ( bao gồm vũ khí)<br>
								x2 cặp nhẫn Quỷ Thiên - Địa Sát)<br>
								x66 Thiên Môn Kim Lệnh<br>
								x66 Thiên Cang Lệnh<br>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>